<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<?php bloginfo('language'); ?>"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - Morning Coffee</title>
    <meta name="description" content="Morning Coffee">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" type="image/png" href="/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- Twitter bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/js/google-code-prettify/prettify.css" rel="stylesheet">
    <!-- End Twitter bootstrap -->

    <link href="//get.pictos.cc/fonts/1342/1" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor/modernizr-2.5.3.min.js"></script>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://www.deadrooster.org">Dead Rooster</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="">
                            <a href="http://www.deadrooster.org">Dead Rooster</a>
                        </li>
                        <li class="active">
                            <a href="/">Morning Coffee</a>
                        </li>
                    </ul>
                </div>
                <form role="search" method="get" id="searchform" action="/" class="navbar-search pull-left">
                    <input type="text" name="s" id="s" class="search-query" placeholder="Search">
                </form>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Masthead
        ================================================== -->
        <header class="jumbotron masthead" id="overview">
            <h1><a href="/"><span class="pictoscc">%</span> Morning Coffee</a></h1>
            <p>
                <div class="pagination-centered">
                    <ul class="categorynav">
                        <li class="pictoscc music"><a href="/categories/musique">V</a></li>
                        <li class="pictoscc sport"><a href="/categories/sport">B</a></li>
                        <li class="pictoscc movie"><a href="/categories/cinema">M</a></li>
                        <li class="pictoscc geek"><a href="/categories/geek">I</a></li>
                        <li class="pictoscc funny"><a href="/categories/fun">F</a></li>
                        <li class="pictoscc rss"><a href="http://feeds.feedburner.com/deadroostermorningcoffee">R</a></li>
                    </ul>
                </div>
            </p>
        </header>

        <div class="container">
            <div class="pin">
                <h1 class="entry-title">{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>

        <!-- Footer
        ================================================== -->
        <footer class="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Designed by <a href="http://deadrooster.org" target="_blank">Dead Rooster</a>.</p>
            <p>Powered by WordPress, MorningCoffee theme by <a href="http://www.mickaelflochlay.com">Mickaël Floc'hlay</a> licensed under MIT license at <a href="https://github.com/dirtyhenry/MorningCoffee">GitHub</a>.</p>
        </footer>

    </div><!-- /container -->

    <!-- Begin JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/morningcoffee.js"></script>
    <!-- end scripts -->

    <script>
    var _gaq=[['_setAccount','UA-8271681-4'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
